* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blocks {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.hex-block, .result-block {
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
  width: 250px;
}

.hex-block {
  border: 1px solid rgb(237, 237, 237);
  background-color: white;
  padding: 20px 15px;

  &:focus, :focus-visible {
    border-radius: 0;
    border: 1px solid rgb(75 163 255);
  }
}

.result-block {
  border: none;
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  padding: 20px 15px;
}